.assetdetail {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 46px 20px 46px;
  .table{
    color: #131e22;
    td:nth-child(1){
        min-width: 180px;
    }
  }
  .h_header {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    text-align: left;
    color: #919ab0;
    position: relative;
    span {
      color: #333;
      margin-left: 10px;
    }
    button{
      width: 110px;
      height: 50px;
      background-color: #3989de;
      text-align: center;
      line-height: 50px;
      font-size: 28px;
      color:#fff;
      position: absolute;
      right: 60px;
      top: 30px;
      border: 0;
    }
    .close {
      width: 26px;
      height: 26px;
      position: absolute;
      right: 0;
      top: 20px;
      img {
        width: 100%;
      }
    }
  }
}
#assetdetail{
  width: 800px;
  height: auto;
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}