#peer{
    width: 100%;
    min-height: 400px;
    border: 1px solid #e1e4e9;
    border-radius: 6px;
    background-color: #fff;
    .pagination{
        margin: 0px 40px 20px;
    }
}
.latest {
  height: 70px;
  line-height: 70px;
  padding: 0 0 0 40px;
  border: 0;
  position: relative;
  .table_title {
    font-size: 18px;
    font-weight: 600;
    color: #394047;
  }
  
}
.deal_table{
  .table{
    .level{
      color:#317cd2;
      cursor: pointer;
      font-style: normal;
    }
    .XAScolor{
      color: #aaa;
    }
    th{
      border-top: 0;
    }
    td {
      text-align: center;
      border: 0;
      max-width: 200px;
      overflow-x: auto;
    }
    tr:nth-child(even) {
      background: #ffffff;
      border: 0;
    }
    tr:nth-child(odd) {
      background: #f8fbfc;
      border: 0;
    }
    tr:nth-child(1){
      background: #eef0f3;
      color: #919ab0;
      font-weight: 600;
    }
    tr:hover{
      background: #ebf4ff;
    }
    tr:nth-child(1):hover{
      background: #eef0f3;
    }
  }
}
.deal_table_title{
  font-size: 20px;
  color:#333;
}
#blockhign{
  width: 840px;
  height: 590px;
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -420px;
  margin-top: -295px;
}
#dealinfo{
  width: 840px;
  height: 395px;
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -420px;
  margin-top: -195px;
}
.level{
  color:#317cd2;
  cursor: pointer;

}