#login{
  width: 680px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -336px;
  margin-top: -203px;
  .disclaim{
      position: absolute;
      left: 95px;
      top: 15px;
      width: 490px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 35px 40px 40px 40px;
      z-index: 10;
      .title{
          font-size: 18px;
          color: #1e2537;
          text-align: center;
          font-weight: 600;
      }
      .close {
        width: 26px;
        height: 26px;
        position: absolute;
        right: 26px;
        top: 12px;
        img {
          width: 100%;
        }
      }
  }
  .wrap1{
    .header{
      height: 80px;
      width: 100%;
      background: #424f70 ;
      background-size: 186px auto;
      position: relative;
    }
    .content{
      width:100%;
      box-sizing: border-box;
      padding: 50px;
      .content_top{
        width: 100%;

        .right{
          width: 100%;
          input{
            width: 100%;
            height: 70px;
            background-color: #364058;
            box-sizing: border-box;
            border: 1px solid #868c9a;
            border-radius: 6px;
            font-size:20px;
            color:#9fa2ab;
            padding:10px;
          }
          .is-agree{
            font-size: 18px;
            margin: 20px 0 20px 0;
            color:#ffffff;
            input{
              display: inline-block;
              width: 14px;
              height: 14px;
              outline:0;
            }
          }
          .language{
            height: 50px;
            width: 120px;
            margin: 0 auto 20px;
            select{
              height: 30px;
            }
          }
        }
      }
      .register{
          margin-left: 65px;
      }
      button{
        height: 50px;
        width: 200px;
        display: inline-block;
        background-color: #4199f3;
        font-size: 18px;
        box-sizing: border-box;
        color:#fff;
        border: 0;
        &:last-child{
          margin-left:50px;
          background:none;
          border: 1px solid #ffffff;
          color:#ffffff;
        }
      }

    }
  }
  .wrap2,.wrap3{
      background-color: #fff;
    .header{
      height: 50px;
      width: 100%;
      line-height: 50px;
      font-size: 18px;
      background: #424f70 ;
      position: relative;
      p{
        font-size: 18px;
        color:#fff;
        text-align: center;
        i,b{
          font-style: normal;
          font-weight: normal;
        }
        i{
          font-size: 18px;
        }
        b{
          font-size: 18px;
        }
        span{
          font-size: 18px;
          margin-left: 20px;
        }
      }
    }
    .content{
      width:100%;
      box-sizing: border-box;
      padding: 10px 40px 30px;
      
      .backto{
        color:#818591; 
      } 
      .content_top{
        width: 100%;

        .right{
          width: 100%;
          label{
            font-size: 18px;
            color:#777;
            text-align: center;
            width: 100%;
          }
          #textarea,#textarea1{
            width: 100%;
            height: 125px;
            padding: 10px 10px;
            margin: 10px 0 0 0;
            font-size: 24px;
            color: #2b354f;
            box-sizing: border-box;
            border: 1px solid #edeef0;
          }
          p{
            font-size: 18px;
            margin-top: 18px;
            color:#aaa;
          }
          .loginalert{
              color: #d71e06;
              line-height: 28px;
              margin-bottom: 20px;
          }
          .is-read{
              margin-bottom: 20px;
              span{
                  color: #818591;
              }
              i{
                  color: #4199f3;
                  cursor: pointer;
              }
          }
        }
      }
      button{
        height: 50px;
        width: 200px;
        margin-left: 80px;
        display: inline-block;
        background-color: #4199f3;
        border: 0;
        font-size: 18px;
        box-sizing: border-box;
        color:#fff;
        &:last-child{
          margin-left:40px;
          background:none;
          border: 1px solid #c5c7cd;
          a{
            color:#818591;
          }
        }
      }

    }
  }
  .wrap3{
      .content_top{
          margin-bottom: 30px;
      }
  }
  .close {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 26px;
    top: 12px;
    img {
      width: 100%;
    }
  }
}
.hide{
  display: none;
}