.assignee {
  width: 840px;
  /*height: 590px;*/
  background-color: #fff;
  box-sizing: border-box;
  padding: 0px 46px;
  .h_header {
    height: 109px;
    line-height: 109px;
    font-size: 24px;
    text-align: center;
    color: #aaa;
    position: relative;
    span {
      color: #333;
      margin-left: 10px;
    }
    .close {
      width: 26px;
      height: 26px;
      position: absolute;
      right: 0;
      top: 20px;
      img {
        width: 100%;
      }
    }
  }
  .item_detail {

    box-sizing: border-box;
    width: 100%;
    .left{
      float: left;
      width: 160px;
      color: #777777;
      font-size: 20px;
      line-height: 48px;
      margin-bottom: 20px;
    }
    .right{
      float: right;
      width: 560px;
      margin-bottom: 20px;
      input{
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-indent: 14px;
        font-size: 20px;
        color: #aaaaaa;
      }
      .explain{
        font-size: 20px;
        color: #aaaaaa;
        width: 100%;
        height: 120px;
        line-height: 44px;
        margin-top: 20px;
      }
    }
  }
  .btn_wrap{
    width: 100%;
    height: 50px;
    a{
      color: #3276c3;
      font-size: 20px;
      width: 90px;
      line-height: 50px;
      text-align: center;
      float: right;
      text-decoration: none;
    }
    button{
      width:145px;
      line-height: 45px;
      text-align: center;
      background:#3989de;
      border: 0;
      outline: 0;
      font-size: 28px;
      color: #ffffff;
      float: right;
    }


  }
  .clearfloat{clear:both}
  p{
    color: #3989de;
    font-size: 14px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 40px;
    height: 40px;
    width: 100%;
  }

}
