#personal{
	width: 100%;
	border: 1px solid #e1e4e9;
    border-radius: 6px;
    background-color: #fff;
}
.clear{
	clear: both;
}
.none{
	display: none;
}

/*.nav 开始*/

.nav{
	width: 97%;
    height: 60px;
    border-bottom: 1px solid #e1e4e9;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 0 3%;
}
.nav .nav_per{
	height: 60px;
    display: inline-block;
    text-align: center;
    margin-right: 7%;
    line-height: 60px;
    box-sizing: border-box;
    color: #394047;
    font-size:18px;
    cursor: pointer;
}
.accountInfo{
	cursor: pointer;
	.baseInfo{
        height: 440px;
    }
}
.passwordInfo{
	cursor: pointer;
}
.nav .nav_exit{
	margin-top: 10px;
	width: 140px;
	height: 40px;
	background: #4199f3;
	color: #fff;
	float: right;
	text-align: center;
	line-height: 40px;
	margin-right: 4%;
	cursor: pointer;
}
.nav .active{
	color:#4199f3;
    border-bottom: 3px solid #4199f3;
}
/*.nav 结束*/


/*.baseInfo 开始*/

._title{
	height: 89px;
	font-size: 30px;
	line-height: 89px;
	border-bottom: 5px solid #bcbcbc;
}

.baseInfo .baseInfo_tx{
    width: 15%;
	height: 440px;
	background: url("/assets/personal/userlogo.png") no-repeat center center;
	background-size: 60% auto;
	float: left;
}
.baseInfo .baseInfo_text{
    width: 85%;
    float: left;
    height: 220px;
    .blackFont{
       color: #131e22;
       font-size: 18px;
       font-weight: 600;
    }
    .sum_text{
        width: 39%;
        height: 100%;
        border-left: 1px solid #e1e4e9;
        border-bottom: 1px solid #e1e4e9;
        float: left;
        .oneFont{
            margin: 60px 0 0 30px ;
        }
        .twoFont{
            margin: 48px 0 0 30px ;
            word-break: break-word;
            .blueFont{
               font-size: 32px;
               color: #4199f3;
            }
            .greyFont{
               font-size: 20px;
               color: #919ab0;
            }
        }
    }
    .address_text{
        position: relative;
        width: 61%;
        height: 100%;
        border-left: 1px solid #e1e4e9;
        border-bottom: 1px solid #e1e4e9;
        float: left;
        img{
            position: absolute;
            right: 6.82011%;
            top: 40px;
        }
        .oneFont{
            margin: 60px 0 0 30px ;
        }
        .twoFont{
            word-break: break-word;
            margin: 62px 0 0 30px ;
            .greyFont{
               font-size: 18px;
               color: #919ab0;
            }
        }
    }
    .password_text{
        width: 39%;
        height: 100%;
        border-left: 1px solid #e1e4e9;
        float: left;
        .oneFont{
            margin: 60px 0 0 30px ;
        }
        .twoFont{
            word-break: break-word;
            margin: 62px 0 0 30px ;
            .blueFont{
               font-size: 18px;
               color: #4199f3;
            }
        }
    }
    .publickey_text{
        width: 61%;
        height: 100%;
        border-left: 1px solid #e1e4e9;
        float: left;
        .oneFont{
            margin: 60px 0 0 30px ;
        }
        .twoFont{
            word-break: break-word;
            margin: 62px 0 0 30px ;
            .greyFont{
               font-size: 18px;
               color: #919ab0;
            }
        }
    }
}

/*.baseInfo 结束*/


/*.businessInfo 开始*/
.businessInfo{
	padding: 0 20px;
	/*height: 440px;*/
}
.greyFont_size{
	font-size: 20px;
	color: #aaaaaa;
}

.more{
	width: 100%;
	height: 46px;
	text-align: center;
	line-height: 46px;
	border: 1px solid #dddddd;
	margin-top:4px ;
	margin-bottom:34px ;
}

/*.businessInfo 结束*/


.passwordInfo_cont{
	margin-bottom: 110px;
}

.finishSet{
	width: 100%;
	height: 460px;
	text-align: center;
}
.finishSet .finishSet_icon{
	width: 156px;
	height: 156px;
	margin-top: 102px;
}
.finishSet .finishSet_text{
	margin-top: 36px;
	color: #aaaaaa;
	font-size: 18px;
}


.setPassword{
	padding: 0 30px;
	.pwd_tip{
		font-size:14px;
		color:#aaa;
		text-align: center;
		margin-top: 26px;
		margin-bottom: 32px;
	}
	.psw{
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 20px;
		margin-top: 88px;
		&:last-child{
			margin-top: 26px;
		}
		label{
			color:#777;
			margin-right: 20px;
		}
		input{
			height: 50px;
			width: 60%;
			line-height: 50px;
			font-size: 20px;
			color: #777777;
			border: 1px solid #ddd;
			text-indent: 16px;
		}
		span{
			color:#3276c3;
			margin-left: 55px;
			position: relative;
			&:before{
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				background: #fff url('/assets/common/rerush.png') center center no-repeat;
				background-size: 100% auto;
				left: -35px;
				top: 0;
			}
		}
	}
	.pwd_btn{
		margin: 0 auto;
		text-align: center;
		.accept_nxt{
			display: inline-block;
			width: 160px;
			height: 40px;
			line-height: 40px;
			font-size:20px;
			color:#fff;
			background-color: #3989de;
			border: 0;
			outline: 0;
		}
	}

}
.setPassword_tip{
	font-size: 20px;
	color: #777777;
	text-align: center;
	margin-top: 40px;
	
	
}
