#header {
    /*position: absolute;
    20170731-适配ngScorll调整左侧菜单为fixed定位*/
    position: fixed;
    
    //height: 119px;
    width: 200px;
    top: 0;
    left: 0;
    min-height: 100%;
    background: #2b354f;
    overflow-y: auto;
    .asch_nav {
        background: #2b354f;;
        //height: 80px;
        display: block;

        .logo {
            height: 60px;
            width: 200px;
            background: url("/assets/common/logo.png") center center no-repeat;
            background-size: 80% auto;
        }
        ul {
            /*width: 780px;*/
            width: 200px;
            /*overflow: hidden;*/
            display: block;
            li {
                display: inline-block;
                height: 60px;
                /*width: 105px;*/
                width: 100%;
                line-height: 60px;
                //border-right: 1px solid #153863;
                box-sizing: border-box;
                margin: 0;
                cursor: pointer;
                &:first-child {
                    border-left: 1px solid #153863;
                }
                ;
                a {
                    padding-left: 30px;
                    display: block;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    font-size: 18px;
                    text-align: left;
                    /*box-sizing: border-box;*/
                    color: #fff!important;
                    text-decoration: none;
                    img {
                        width: 24px;
                        margin-right: 12px;
                    }
                }

            }
            .blockforging{
                position: relative;
                .dropdown_menu{
                    width: 100%;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    border: 1px solid #ddd;
                    z-index: 100;
                    p{
                        line-height: 43px;
                        border-bottom: 1px solid #ddd;
                        background-color: #fff;
                        font-size:16px;
                        color: #777;
                        margin: 0;
                        padding-left: 25px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        cursor: pointer;
                        a{
                            color: #777!important;
                        }
                        &:last-child{
                            border-bottom: 0;
                        }
                    }
                }
            }

            .active {
                background: url(../../../assets/common/active_bg.png) no-repeat;
                a{
                 color: #28a0fd!important;   
                }
            }
        }
    }

}
.asch_tip {
    width: 100%;
    p {
        height: 39px;
        line-height: 39px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        position: relative;
        a {
            font-size: 24px;
            color: #7a8697;
            text-decoration: none;
            img {
                width: 21px;
                margin-top: -1px;
                margin-right: 20px;
                border: 0;
            }
        }
        span {
            font-size: 18px;
            color: #aebbcf!important;
        }
        .asch_tip_rights {
            position: absolute;
            right: 25px;
            line-height: 39px;
            font-size: 18px;
            color:#777777;
            a {
                margin-left: 24px;
                text-decoration: none;
                line-height: 39px;
                color: #3276c3;
            }
        }
    }
}
