

#pay{
    width: 100%;
    min-height: 400px;
    border: 1px solid #e1e4e9;
    border-radius: 6px;
    background-color: #fff;
    padding: 70px 0 50px 50px;
  ._item{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 52px;
    label{
      display: inline-block;
      width: 120px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #394047;
      text-align: right;
      margin-right: 20px;
    }
    input{
      //display:inline-block;
      //-webkit-flex: 880px;
      //flex: 880px;
      //-webkit-box-flex: 880px;
      width: 880px;
      height: 50px;
      background-color: #faf9f9;
      border: 1px solid #d5dfec;
      font-size: 16px;
      color:#aaa;
      padding: 6px;
    }
    select {
      min-width: 200px;
      border: solid 1px #d5dfec;
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
      padding-right: 20px;
      background: url(../../assets/asset/arrow_down.png) no-repeat scroll 90% center transparent;
    }
    select::-ms-expand { display: none; }
  }
  #pay_item4{
    color: #4199f3;
  }
  p{
    line-height: 20px;
    font-size: 20px;
    color: #aaa;
    padding-left: 140px;
  }
  .sent{
    margin-top: 50px;
    width: 163px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #4199f3;
    color: #fff;
    margin-left: 140px;
    outline: 0;
    border: 0;
    font-size: 20px;
  }
  .cancel{
    width: 163px;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #3276c3;
    font-size:20px;
  }
} 