#assetevaluation{
    width: 100%;
    min-height: 508px;
    border: 1px solid #e1e4e9;
    border-radius: 6px;
    background-color: #fff;
  .appheader{
    width: 94%;
    height: 60px;
    border-bottom: 1px solid #e1e4e9;
    box-sizing: border-box;
    position: relative;
    margin: 0 3%;
    .titleitem{
      height: 60px;
      display: inline-block;
      text-align: center;
      margin-right: 7%;
      line-height: 60px;
      box-sizing: border-box;
      color: #394047;
      font-size:18px;
      cursor: pointer;
    }
    .active{
      color:#4199f3;
      border-bottom: 3px solid #4199f3;
    }
  }
  .content{
    width: 100%;
    min-height: 458px;
    box-sizing: border-box;
    .innerheader{
      height: 70px;
      width: 94%;
      line-height: 70px;
      box-sizing: border-box;
      position: relative;
      margin: 0 0 0 3%;
    }
    .tablewrap{
     
      th{
        border-top: 0;
        line-height:44px!important;
      }
      td {
        line-height:44px!important;
        text-align: center;
        border: 0;
        max-width: 200px;
        overflow-x: auto;
        overflow-y: hidden;
          .active{
            background-color: #e1e4e9;
            cursor: not-allowed;
          }
          button{
            border: 0;
            display: inline-block;
            width: 76px;
            height: 36px;
            line-height: 36px;
            background-color: #4199f3;
            color: #FFFFFF;
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
          }
      }
      tr:nth-child(even) {
        background: #ffffff;
        border: 0;
      }
      tr:nth-child(odd) {
        background: #f8fbfc;
        border: 0;
      }
      tr:nth-child(1){
        background: #eef0f3;
        color: #919ab0;
        font-weight: 600;
      }
      tr:nth-child(1):hover{
        background: #eef0f3;
      }
      tr:hover{
        background: #ebf4ff;
      }
    }
  }
  .level {
    color: #4199f3;
    cursor: pointer;
  }
}
#pendingvote{
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  z-index: 10;
  p{
    font-size: 18px;
  }
  .close{
      img{
          width: 26px;
      }
  }
  ._item{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 22px;
    label{
      display: inline-block;
      width: 140px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      color: #777;
      text-align: right;
      margin-right: 20px;
    }
    input{
      width: 400px;
      height: 50px;
      border: 1px solid #ddd;
      background-color: #faf9f9;
      font-size: 20px;
      color:#aaa;
      padding: 6px;
    }
  }
  .sent{
      display: block;
      width: 163px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #4199f3;
      color: #fff;
      margin: 0 auto;
      outline: 0;
      border: 0;
      font-size: 18px;
    }
}