.pendingissuer {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 46px;
  padding-bottom: 50px;
  .table{
    color: #131e22;
    .first{
        max-width:20%;
    }
    .second{
        text-align: left;
        max-width: 80%;
    }
  }
  .h_header {
    height: 109px;
    line-height: 109px;
    font-size: 24px;
    text-align: left;
    color: #919ab0;
    position: relative;
    span {
      color: #333;
      margin-left: 10px;
    }
    button{
      width: 110px;
      height: 50px;
      background-color: #3989de;
      text-align: center;
      line-height: 50px;
      font-size: 28px;
      color:#fff;
      position: absolute;
      right: 60px;
      top: 30px;
      border: 0;
    }
    .close {
      width: 26px;
      height: 26px;
      position: absolute;
      right: 0;
      top: 20px;
      img {
        width: 100%;
      }
    }
  }
}
#pendingissuer{
    width: 840px;
    z-index: 1000;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
