#application{
  width: 100%;
  min-height: 508px;
  border: 1px solid #e1e4e9;
  border-radius: 6px;
  background-color: #fff;
 
  .table{
      margin-top: 25px;
    th{
      border-top: 0;
      line-height:44px!important;
    }
    td {
      line-height:44px!important;
      text-align: center;
      border: 0;
      max-width: 200px;
      overflow-x: auto;
    }
    tr:nth-child(even) {
      background: #ffffff;
      border: 0;
    }
    tr:nth-child(odd) {
      background: #f8fbfc;
      border: 0;
    }
    tr:nth-child(1){
      background: #eef0f3;
      color: #919ab0;
      font-weight: 600;
    }
    tr:hover{
      background: #ebf4ff;
    }
    tr:nth-child(1){
      background: #eef0f3;
      color: #919ab0;
      font-weight: 600;
    }
    a{
      color: #4199f3; 
    }
  }
  .pagination{
    margin: 0px 0 20px 3%;
  }
  .wop{
    width: 25%;
    overflow: auto;
  }
  .ico-img{
    width: 48px;
    height: 48px;
  }
  
  .appheader{
    width: 94%;
    height: 60px;
    border-bottom: 1px solid #e1e4e9;
    box-sizing: border-box;
    position: relative;
    margin: 0 3%;
    .titleitem{
      height: 60px;
      display: inline-block;
      text-align: center;
      margin-right: 7%;
      line-height: 60px;
      box-sizing: border-box;
      color: #394047;
      font-size:18px;
      cursor: pointer;
    }
    .active{
      color:#4199f3;
      border-bottom: 3px solid #4199f3;
    }
    .right,.right1{
      position: absolute;
      top: 10px;
      box-sizing: border-box;
      height: 40px;
    }
    .right1{
      right: 10px;
      width: 300px;
      font-size: 20px;
      border: 1px solid #dddddd;
      overflow: hidden;
      .search_icon {
        width: 32px;
        height: 29px;
        position: absolute;
        left: 83px;
        top: 5px;
      }
      label{
        height: 42px;
        width: 78px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        color: #aaa;
        border-right: 1px solid #ddd;
        background-color: #f5f4f4;
      }
      input{
        background-color: #faf9f9;
        height: 40px;
        width: 219px;
        margin: 0;
        line-height: 40px;
        outline: 0;
        border: 0;
        display: inline-block;
        text-indent: 40px;
        margin-left: -6px;
      }

    }
    .right{
      right: 323px;
      width: 105px;
      border: 0;
      border-radius: 3px;
      color:#fff;
      font-size: 20px;
      background-color: #3989de;
    }
  }
  .content{
    width: 100%;
    min-height: 458px;
    box-sizing: border-box;
    .innerheader{
      height: 63px;
      width: 100%;
      line-height: 63px;
      box-sizing: border-box;
      border-bottom: 5px solid #bcbcbc;
      position: relative;
      button{
        width: 100px;
        height: 40px;
        line-height: 40px;
        background-color: #3989de;
        position: absolute;
        font-size: 18px;
        border: 0;
        color:#fff;
        right: 332px;
        top: 12px;
      }
      .delete{
        background: #3989de;
      }
    }
    .tablewrap{
      td{
        text-align: center;
      }
    }
  }
}